<!DOCTYPE html>
<html
        xmlns:th="https://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
</head>


<body>

  <table>
    <thead>
      <tr>ID</tr>
      <tr>NAME</tr>
      <tr>ACRONYM</tr>
      <tr>ACTION</tr>
    </thead>

    <tbody th:each="state: ${listStates}">
      <tr>
        <td th:text="${state.id}"></td>
        <td th:text="${state.name}"></td>
        <td th:text="${state.acronym}"></td>
        <td colspan="2">
          <a th:href="@{/editState/{id}(id=${state.id})}">Edit</a>
          <a th:href="@{/removeState/{id}(id=${state.id})}">Remove</a>
        </td>

      </tr>
    </tbody>
  </table>


</body>

</html>